<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scribe</title>
</head>
<body>
  <div ng-app="scribeApp">
    <app>
    </app>
  </div>
  <script src="/lib/vendor.bundle.js"></script>
  <script src="/lib/app.bundle.js"></script>
</body>
</html>
